/* definitions */

html {
    font-size: 16px; /* 1rem = 16px */
}

:root {
    --verde_oscuro: #81967b;
    --verde_claro: #aac59f;
    --gris_claro: #706f6f;
  }

/* Apply a reset to remove all default margin and padding */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}


/* Fonts */

@font-face {
    font-family: 'clutadella_light';
    src: url('/assets/fonts/Ciutadella-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basker_120';
    src: url('/assets/fonts/BV120Pro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basker_120_medium';
    src: url('/assets/fonts/BV120Pro-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basker_120_italic';
    src: url('/assets/fonts/BV120Pro-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* General tools */

.espaciado_96_esc {
    height: 4.3rem;
}
.espaciado_48_esc {
    height: 2.8rem;
}
.espaciado_24_esc {
    height: 2rem;
}

.italic-text {
    font-family: 'basker_120_italic';
    color: var(--verde_claro); /* Change the color as needed */
}

.underlined-text {
    text-decoration: underline;

}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.body-title-green {
    background-color: var(--verde_oscuro);
    font-size: 2rem;
    color: white;
    font-family: 'clutadella_light';
    text-align: center;    
}

.body-title-1 {
    font-size: 2.8rem;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
}

.body-title-1L {
    font-size: 2.8rem;
    text-align: left;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
}

.body-title-2 {
    font-size: 2.6rem;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
    line-height: 1;
}

.body-title-2_glosary {
    font-size: 2.6rem;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
    line-height: 1.3;
    padding-bottom: 0;
    
}

.body-title-2L {
    font-size: 3rem;
    text-align: left;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
    line-height: 1;
}

.body-title-3 {
    font-size: 2rem;
    color: var(--verde_claro);
    font-family: 'basker_120'; 
    line-height: 1;
}

.body-footer {
    font-size: 1rem;
    font-family: 'basker_120'; 
}

.body-biblio {
    font-size: 1.5rem;
    font-family: 'basker_120'; 
    padding-right: 0; 
    padding-left: 20;
    text-align: left;
    text-indent: -20px;
}

.container-text {
    margin-right: 17%; /* Ajustar el margen derecho de todo el diseño */
    margin-left: 17%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'basker_120';
    font-size: 1.4rem;
    color: #706f6f;
    text-align: left;
}

.container-results {
    margin-right: 22%; /* Ajustar el margen derecho de todo el diseño */
    margin-left: 22%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'basker_120';
    font-size: 1.4rem;
    color: #706f6f;
    text-align: center;
    line-height: 1.6;
}

.subcontainer-results {
    padding-left: 6rem;
    padding-right: 6rem;    
    }

.large-image {
    display: block;
}

.small-image
{
    display: none;
}

.small-image_header {
    display: none;
}

.header-image {
    width: 100%;
    height: 100%;

}

.footer-image {
    font-size: 0.8rem;
    text-align: right;
    color: var(--gris_claro);
    font-family: 'basker_120'; 
    font-style: italic;
    line-height: 1;
    margin-bottom: 3rem;
    padding-right: 0px;
    padding-left: 0px; 
}

/* ------------------------- */

/* NAVIGATION BAR */

.custom-nav {
    flex-wrap: wrap; 
}

.bibliography .dropdown-menu.show {
    display: none;
}

.glosary .dropdown-menu.show {
    display: none;
}

.custom-nav .dropdown-toggle::after {
    display: none;  /* Hide the inverted triangle in the dropdown toggle */
    
}


.custom-nav .nav-link {
    color: white ;  /* Change text color to black */
    height: 3rem;
    font-size: 1.4rem; /* Nav text size*/
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--verde_oscuro);
}
.dropdown-toggle:active {
    background-color: var(--verde_oscuro); 

}

.custom-nav .dropdown-item {
    color: #81967b ;  /* Change text color to black */
}

/*.custom-nav .dropdown-item:active, */
.custom-nav .dropdown-item.active {
    background-color: white ;  /* Change to your desired color */

}
.nav .dropdown-menu {
    min-width: 0 ;  /* Ensure the dropdown menu doesn't have a minimum width */
    width: 100% ;   /* Set the width to 100% of its parent container */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
    /* border-radius: 0;  Square border*/
}

.dropdown-item {
    white-space: normal !important;  /* Allow text to wrap */
    word-wrap: break-word !important;  /* Break long words */
    overflow-wrap: break-word !important;  /* Break long words */
    text-align: center;
}

/* TOOLTIP */

/* Custom tooltip styles */
.custom-tooltip .tooltip-inner {
    background-color:  #fff;  /* Background color */
    color: #333;  /* Text color */
    font-size: 14px;  /* Font size */
    padding: 10px;  /* Padding inside the tooltip */
    border-radius: 8px;  /* Rounded corners */
    max-width: 200px;  /* Maximum width of the tooltip */
    text-align: center;  /* Center the text */
}

/* Custom arrow color and size */
.custom-tooltip .arrow::before {
    border-top-color: #fff;  /* Arrow color */
}

/* Adjust the arrow's positioning and size */
.custom-tooltip.bs-tooltip-top .arrow::before {
    margin-left: -4px;
    border-width: 8px;  /* Arrow size */
}

/* Optional: Add shadow to the tooltip */
.custom-tooltip .tooltip-inner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ------------------------- */

/* EXPERIMENT SECTION */

.exp_img_2 {
    background-image: url("h_exp_2_esc.webp"); 

}


/* RESULTS SECTION */

.results_title {
    text-align: center;
    font-family: 'basker_120';
    font-size: 2rem;
    color:var(--verde_claro);
    line-height: 1.3;

}

.accordion-button {
    background-color: var(--verde_claro);
    color: white;
    font-size: 1.4rem;
    font-family: 'clutadella_light';
    text-align: center;
}

.accordion-body {
    text-align: center;
}

.accordion-flush{
    padding: 0;
}

.var_tru_text {
    text-decoration: none;
    color: white;
    text-align:center;
    font-family: storm-italic;
    font-size: 0.80rem;
    font-family: 'basker_italic';
    line-height: 1.5;
}

.var_tru_box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.var_ipadu_box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.var_ipadu_text {
    text-decoration: none;
    color: white;
    text-align:center;
    font-family: storm-italic;
    font-size: 0.8rem;
    font-family: 'basker_italic';
    line-height: 1.5;
}

.var_coca_box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.var_tru_coca:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.var {
    display: inline-flex;
    font-family: storm-light;
}

.var_coca_text {
    text-decoration: none;
    color: white;
    text-align:center;
    font-family: storm-italic;
    font-size: 0.8rem;
    font-family: 'basker_italic';
    line-height: 1.5;
}

.var_novo_box {
    height:3rem;
    background-color: #95a823;
    display: flex;
    align-items: center;
    justify-content: center;
}

.var_novo_box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.var_novo_text {
    text-decoration: none;
    color: white;
    text-align:center;
    font-family: storm-italic;
    font-size: 0.8rem;
    font-family: 'basker_italic';
    line-height: 1.5;
}

.treemap {
    width: 100%;
    padding: 0;
    margin: 0;
}

.compound_images {
    margin-top: 1rem;
    padding-left: 0rem;    
    width: 100%;
    height: 20rem;
}

.text_description {
    padding-top: 2rem;
    padding: 1.3rem;
    margin-left: 0rem; 
    margin-right: 0rem; 
    font-size: 1.2rem;
    font-family: "basker_120";  
    text-align: left; /* Justificar texto */
    line-height: 1.2;
 
}

.titulo_grafica_compound {
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
    font-family: "basker_120";
    line-height: 1.2;
}

.compound_description {
    padding: 2.3rem;
    border: 1px solid black;
    
}

.compound_descriptions {
    overflow-y: scroll;
    overflow-x: hidden;
    height:20rem;
}

.footnote {
    font-size: 1.3rem;
}

/* RESPONSIVE 1024 x 600 */

@media (max-width: 600px) {

    .small-image_header {
            display: none;
            padding-bottom: 1rem;
    }

    .nav-item {
        margin-bottom: 10px;  /* Ajusta este valor según el espacio deseado */
    }

    .espaciado_intr_img {
        height: 1rem;
    }
    .espaciado_96_mov {
        height: 3rem;
    }
    .espaciado_48_mov {
        height: 2rem;
    }
    .espaciado_24_mov {
        height: 1rem;
    }
    
    .header-image {
        width: 100%;
        display: block;
    }

    .body-title-1 {
        font-size: 2.5rem;
        text-align: left;
        color: var(--verde_claro);
        font-family: 'basker_120'; 
        line-height: 1;
    }

    .body-title-2 {
        font-size: 2.2rem;
        text-align: left;
        font-family: 'basker_120'; 
        line-height: 1;
    }

    .body-title-3 {
        font-size: 1.9rem;
        text-align: left;
        font-family: 'basker_120'; 
        line-height: 1;
    }

    .body-title-2L {
        font-size: 3rem;
        text-align: left;
        color: var(--verde_claro);
        font-family: 'basker_120'; 
        line-height: 1;
    }

    .container-text
    {
        margin-right: 0%; /* Ajustar el margen derecho de todo el diseño */
        margin-left: 0%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'basker_120';
        font-size: 1.1rem;
        color: #706f6f;
        text-align: left;
    }

    .center-image {
        display: block;
        margin: 0;
    }

    .small-image {
        padding: 0;
    }

    .container-results 
    {
        margin-right: 10%; /* Ajustar el margen derecho de todo el diseño */
        margin-left: 10%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'basker_120';
        font-size: 1.1rem;
        color: #706f6f;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        line-height: 2;
    }

    .subcontainer-results {
    padding-left: 0;
    padding-right: 0;    
    }

    .large-image
    {
        display: none;
    }

    .footer-image-mobil {
        font-size: 0.7rem;
        text-align: right;
        color: #706f6f;
        font-family: 'basker_120'; 
        font-style: italic;
        line-height: 1;
        margin-bottom: 3rem;
        padding-right: 0px;
        padding-left: 0px; 
    }
        .custom-nav {
        display: flex;
        flex-direction: column;
    }

    .var_tru_text {
        text-decoration: none;
        color: white;
        text-align:center;
        font-family: storm-italic;
        font-size: 0.80rem;
        font-family: 'basker_italic';
        line-height: 1.2;
    }

    .var_trux_box {
        padding: 2rem;
    }
    
    .var_coca_box {
        padding: 2rem;
    }
    .var_ipadu_box {
        padding: 2rem;
    }
    .var_novo_box {
        padding: 2rem;
    }
    
    .var_ipadu_text {
        text-decoration: none;
        color: white;
        text-align:center;
        font-family: storm-italic;
        font-size: 0.8rem;
        font-family: 'basker_italic';
        line-height: 1.1;
    }
    
    .var_coca_text {
        text-decoration: none;
        color: white;
        text-align:center;
        font-family: storm-italic;
        font-size: 0.8rem;
        font-family: 'basker_italic';
        line-height: 1.1;
    }
    
    .var_novo_text {
        text-decoration: none;
        color: white;
        text-align:center;
        font-family: storm-italic;
        font-size: 0.8rem;
        font-family: 'basker_italic';
        line-height: 1.2;
    }

    .footnote {
        font-size: 0.95rem;
    }
    

}

